<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/lightbox.css">

    <title>gallery list..</title>
  </head>
  <body>
    <%- include('../header.html')%>

    <div style="width: 90%; margin: 0 auto">
      <h2 style="margin:20px 0">갤러리</h2>
      <div class="row row-cols-1 row-cols-md-4">

        <% for (var i=0;i<row.length;i++) { %>
        <div class="col mb-4">
          <div class="card">
            <a href="/image/<%=row[i].file%>" data-lightbox="img">
              <img src="/image/<%=row[i].file%>" class="card-img-top" style="width:100%;height:150px" alt="..." />
            </a>
            <div class="card-body">
              <p class="card-text"><%=row[i].title%> <button type="button" class="delete btn btn-danger btn-sm">X</button></p>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>
    <%- include('../footer.html')%>
    <script src="/js/lightbox-plus-jquery.js"></script>
    <script>
      $('.delete').click(function(){
          $.ajax({
            url: 'del',
            method: 'DELETE',
            data: {_id : 1},
          })
        }
      )
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
